{% load static %}
<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src=" {% static 'static/images/logo.svg' %}" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">

                <li class='sidebar-title'>Menu</li>
                

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="briefcase" width="20"></i>
                        <span>Estudios</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="{% url 'estudio:categoria_list' %}">Categoria</a>
                        </li>

                        <li>
                            <a href="{% url 'estudio:subcategoria_list' %}">Sub-Categoria</a>
                        </li>

                        <li>
                            <a href="{% url 'estudio:estudio_list' %}">Examen</a>
                        </li>

                    </ul>

                </li>


                <li class="sidebar-item ">
                    <a href="{% url 'registro:registro' %}" class='sidebar-link'>
                        <i data-feather="#" width="20"></i>
                        <span>Registro</span>
                    </a>
                    
                    <a href="{% url 'paciente:documentos' %}" class='sidebar-link'>
                        <i data-feather="#" width="20"></i>
                        <span>Documentos</span>
                    </a>
                    <a href="{% url 'registro:informes' %}" class='sidebar-link'>
                        <i data-feather="#" width="20"></i>
                        <span>Informes de Pacientes</span>
                    </a>
                    
                </li>

                
                
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>