{% load static %}
<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src=" {% static 'static/images/logo.svg' %}" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">

                <li class='sidebar-title'>Menu</li>
                
                <li class="sidebar-item ">
                    <a href="{% url 'estudio:categoria_list' %}" class='sidebar-link'>
                        <i data-feather="#" width="20"></i>
                        <span>Categoria</span>
                    </a>
                    <a href="{% url 'estudio:subcategoria_list' %}" class='sidebar-link'>
                        <i data-feather="#" width="20"></i>
                        <span>Subcategoria</span>
                    </a>
                    <a href="{% url 'estudio:estudio_list' %}" class='sidebar-link'>
                        <i data-feather="#" width="20"></i>
                        <span>Estudio</span>
                    </a>
                </li>
                
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>